.info.legend {
  background: white;
  padding: 8px;
  border-radius: 5px;
  line-height: 18px;
  font-size: 12px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
